.button {
  width: 100%;
  height: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 2px solid #E2E3E5;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  pointer-events: none;
  user-select: none;
}

.button_isRuntime {
  pointer-events: all;
  cursor: pointer;
  transition: 0.5s;
}

.button_isRuntime:hover {
  border: 2px solid #5D5FEF;
}

.button_result {
  height: 64px;
  background: #5D5FEF;
  color: #FFF;
}