.app {
  width: 100%;
}

.app__content {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 540px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app__switcher {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 34px;
}
